# ENV
.env
.env.*
!.env.template

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Local database (SQLite)
*.db
*.sqlite3

# Uvicorn / runtime
*.log

# OS
.DS_Store
game_radar.db
test_game_rader.db